*{
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}
/*background color y fuentes*/
header body{
    background-color: #F5F5F5;
}
.backVioleta{
    background-color: #8B48BF;
}
footer{
    background-color: black;
}
.footerP{
    color: #8C8C94;
}
.boton4{
    color: #8B48BF;
    background-color: #FFFFFF;
}
header{
    font-weight: 500;
    font-size: 13px;
}
body{
    font-weight: 500;
    font-size: 16px;
}
.bienvenida h2{
    font-weight: 700;
    font-size: 58px;
}
.lista p{
    font-weight: 500;
    color: #B3B2B7;
}
.testimonios h3{
    font-weight: 700;
    color: #3F4868;
}
.testimonios p{
    font-weight: 600;
    color: #B9B9C1;
}
.title{
    font-weight: 700;
}
footer{
    font-weight: 400;
    font-size: 16px;
}
/*contenido*/
header{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}
header img{
    margin-left: 30px;
    width: 100px;
}

.bienvenida{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.bienvenida div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    width: 45%;
}
.bienvenida p{
    width: 80%;
}
.bienvenida img{
    width: 60%;
}
.about h2{
    font-weight: 700;
    font-size: 36px;
}
.backVioleta h2{
    font-weight: 700;
    font-size: 40px;
}
button{
    color: #FFFFFF;
    background-color: #8B48BF;
    border-radius: 50px;
    width: 134px;
    height: 44px;
    padding: 10px;
}
.middle{
    display: flex;
    justify-content: space-between;
}
.testimonios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.testimonios div{
    display: flex;
    flex-direction: row;
}
.anisha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ali{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.richard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*diseño mobile
@media{(max-width: 480px)
    .navBar{
        display:none
    }
    .bienvenida{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .bienvenida img{
        width: 80%;
    }
}



/*diseño desktop
@media{(max-width: 1440px;){

}

}